src/main/resources/cv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vytenis.eu/cv" xmlns:tns="http://vytenis.eu/cv" elementFormDefault="qualified">
	<element name="cv" type="tns:CV" />

	<complexType name="CV">
		<sequence>
			<element name="entry" type="tns:KeyValue" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="KeyValue">
		<sequence>
			<element name="key" type="string" />
			<element name="value" type="string" />
		</sequence>
	</complexType>

	<complexType name="Experience">
		<sequence>
			<element name="duration" type="string" />
			<element name="position" type="string" />
			<element name="company" type="string" />
		</sequence>
	</complexType>

	<complexType name="Project">
		<sequence>
			<element name="name" type="string" />
			<element name="description" type="string" />
			<element name="role" type="string" />
			<element name="technologies" type="string" />
		</sequence>
	</complexType>

	<complexType name="StringWithLanguage">
		<simpleContent>
			<extension base="string">
				<attribute name="language" type="string" />
			</extension>
		</simpleContent>
	</complexType>
</schema>